celery
flask
flask-migrate
flask-security
flask-allows
flask-sqlalchemy
gunicorn
ldap3
marshmallow
pyyaml>=4.2b4
redis
requests
sqlalchemy
wheel
-e git+https://github.com/radusuciu/ip2api.git#egg=ip2api