{% extends "layout.html" %}

{% block content %}
{% raw %}
<div id="app" class="ui container">
    <h1 class="ui header">
        Ctesi
        <div class="sub header">A sytem for automatic processing of mass spec data.</div>
    </h1>

    <form class="ui form" :class="{ error: errors.any() }" v-on:submit.prevent="onSubmit">
        <div class="field" :class="{ error: errors.has('experiment_name') }">
            <label>Experiment name</label>
            <input type="text" name="experiment_name" placeholder="ABC123" v-model="data.name" v-validate="'required'">
        </div>
        <div class="field" :class="{ error: errors.has('experiment_type') }">
            <label>Experiment type</label>
            <select class="ui dropdown" v-model="data.type" name="experiment_type" v-validate="'required'">
                <option value="">Experiment Type</option>
                <option value="mudpit">SILAC MudPIT</option>
                <option value="redime">ReDiMe</option>
                <option value="isotop">isoTOP</option>
                <option value="n15">N15</option>
            </select>
        </div>
        <div class="field" :class="{ error: errors.has('organism') }">
            <label>Organism</label>
            <select class="ui dropdown" v-model="data.organism" name="organism" v-validate="'required'">
                <option value="">Organism</option>
                <option value="human">Human</option>
                <option value="mouse">Mouse</option>
                <option value="celegans">C. elegans</option>
                <option value="tb">M. tuberculosis</option>
                <option value="bcg">M. tb. (BCG)</option>
            </select>
        </div>
        <div class="fields">
            <div class="field" :class="{ error: errors.has('ip2_username') || errors.has('ip2_password') }">
                <label>IP2 Username</label>
                <input type="text" v-model="data.ip2username" name="ip2_username" placeholder="Username" v-validate="'required'">
            </div>
            <div class="field" :class="{ error: errors.has('ip2_password') || errors.has('ip2_password') }">
                <label>IP2 Password:</label>
                <input type="password" v-model="data.ip2password" name="ip2_password" placeholder="Password" v-validate="'required'">
            </div>
        </div>
        <div class="ui error message">{{ errors.first('ip2_password:auth') }}</div>

        <div class="advanced" v-if="advanced">
            <div class="ui horizontal divider">
                <i class="settings icon"></i>
                Advanced Options
            </div>

            <h3 class="ui header">
                Differential modifications
                <diff-mod-picker
                    v-show="!diffMods.length"
                    @pick="addDiffMod"
                ></diff-mod-picker>
                <div class="sub header">Cysteine alkylation is assumed. Elemental composition will be used by cimage.</div>
            </h3>

            <table v-if="diffMods.length" class="ui table">
                <thead>
                    <tr class="center aligned">
                        <th class="two wide left aligned">Amino acid(s)</th>
                        <th class="one wide">C</th>
                        <th class="one wide">H</th>
                        <th class="one wide">O</th>
                        <th class="one wide">N</th>
                        <th class="one wide">S</th>
                        <th class="one wide">P</th>
                        <th class="one wide"><sup>13</sup>C</th>
                        <th class="one wide"><sup>2</sup>H</th>
                        <th class="one wide"><sup>15</sup>N</th>
                        <th class="one wide">Light</th>
                        <th class="one wide">Heavy</th>
                        <th class="two wide">Mass</th>
                        <th class="one wide"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr
                        is="diff-mod"
                        v-for="(mod, index) in diffMods"
                        :init-comp="mod.comp"
                        :init-aa="mod.aa"
                        :index="mod.index"
                        :key="mod.index"
                        @remove="removeDiffMod(index)"
                        @state="updateState"
                    ></tr>
                </tbody>
                <tfoot>
                    <tr class="collapsing">
                        <th colspan="14">
                            <diff-mod-picker @pick="addDiffMod"></diff-mod-picker>
                        </th>
                    </tr>
                </tfoot>
            </table>

            <div class="ui divider"></div>
        </div>
        <div v-else>
            <button type="button" class="ui labeled icon button" @click="advanced = true">
                <i class="settings icon"></i>
                Advanced Options
            </button>
        </div>

        <div class="field" v-if="files.length">
            <table class="ui basic table">
                <thead>
                    <tr>
                        <th width="80%">Name</th>
                        <th>Size</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="item in files">
                        <td><strong>{{ item.name }}</strong></td>
                        <td nowrap>{{ item.size/1024/1024 | toFixed }} MB</td>    
                    </tr>
                </tbody>
            </table>
            <div v-if="progress" class="ui progress" :class="uploadStatus">
                <div class="bar" :style="{ width: progress + '%'}">
                    <div class="progress"></div>
                </div>
                <div class="label">{{ uploadStatus }} Uploading Files</div>
            </div>
        </div>
        <div class="ui file-upload field">
            <span class="ui error message">{{ errors.first('file-select') }}</span>
            <button class="ui primary button" type="submit">Submit</button>
            <button type="button" class="ui button" onclick="document.getElementById('file-select').click()">
                <i class="file outline icon"></i> Select Raw Files
                <input type="file" name="file-select" id="file-select" multiple v-on:change="onFileChange($event)" data-vv-as="file upload" v-validate="'required|ext:raw,RAW'" />
            </button>
        </div>
    </form>
</div>
{% endraw %}
{% endblock %}
