{% extends "layout.html" %}

{% block head %}
<link rel="stylesheet" href="static/status.css" />
{% endblock %}

{% block content %}
{% raw %}
<div id="status" class="ui container">
    <h1 class="ui header">In progress</h1>
    <table class="ui table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Organism</th>
                <th>Type</th>
                <th>Date</th>
                <th>Status</th>
                <th class="collapsing right aligned">Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr v-for="(e, index) in experiments" v-if="e.status !== 'done'">
                <td>{{ e.name }}</td>
                <td>{{ e.organism }}</td>
                <td>{{ e.experiment_type }}</td>
                <td>{{ e.date }}</td>
                <td>{{ e.status }}</td>
                <td class="right aligned">
                    <i class="remove icon" @click="remove(e, index)"></i>
                </td>
            </tr>
        </tbody>
    </table>

    <h1 class="ui header">Finished experiments</h1>

    <table class="ui table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Organism</th>
                <th>Type</th>
                <th>Date</th>
                <th class="collapsing right aligned">Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr v-for="(e, index) in experiments" v-if="e.status === 'done' ">
                <td>{{ e.name }}</td>
                <td>{{ e.organism }}</td>
                <td>{{ e.experiment_type }}</td>
                <td>{{ e.date }}</td>
                <td class="right aligned">
                    <a :href="'/api/zip/' + e.experiment_id"><i class="download icon"></i></a>
                    <i class="remove icon" @click="remove(e, index)"></i>
                </td>
            </tr>
        </tbody>
    </table>
</div>
{% endraw %}
{% endblock %}

{% block scripts %}
<script type="text/javascript" src="static/status.js"></script>
{% endblock %}