{% extends "layout.html" %}

{% block head %}
<link rel="stylesheet" href="static/status.css" />
{% endblock %}

{% block content %}
{% raw %}
<div id="status" class="ui container">
    <h1 class="ui header">Experiments</h1>
    <table class="ui table">
        <thead>
            <tr>
                <th class="one wide center aligned">ID</th>
                <th class="four wide">Name</th>
                <th class="two wide">Organism</th>
                <th class="two wide">Type</th>
                <th class="three wide">Date</th>
                <th class="two wide">Status</th>
                <th class="collapsing right aligned">Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr v-for="(e, index) in experiments" v-if="e.status.step !== 'done'">
                <td class="center aligned">{{ e.experiment_id }}</td>
                <td>{{ e.name }}</td>
                <td>{{ e.organism }}</td>
                <td>{{ e.experiment_type }}</td>
                <td>{{ e.date | prettyDate}}</td>
                <td v-if="e.status" :class="{ error: e.status.step === 'error'}">
                    <div v-if="e.status.progress" class="ui top attached progress">
                        <div class="bar" :style="{ width: e.status.progress + '%'}"></div>
                    </div>
                    {{ e.status.step }}
                </td>
                <td class="error" v-else></td>
                <td class="right aligned">
                    <i class="remove icon" @click="remove(e, index)"></i>
                </td>
            </tr>
            <tr class="table-separator"><td colspan="100%"></td></tr>
            <tr v-for="(e, index) in experiments" v-if="e.status.step === 'done' ">
                <td class="center aligned">{{ e.experiment_id }}</td>
                <td>{{ e.name }}</td>
                <td>{{ e.organism }}</td>
                <td>{{ e.experiment_type }}</td>
                <td>{{ e.date | prettyDate }}</td>
                <td>done</td>
                <td class="right aligned">
                    <a :href="'/zip/' + e.experiment_id"><i class="download icon"></i></a>
                    <i class="remove icon" @click="remove(e, index)"></i>
                </td>
            </tr>
        </tbody>
    </table>
</div>
{% endraw %}
{% endblock %}

{% block scripts %}
<script type="text/javascript" src="static/status.js"></script>
{% endblock %}