<!DOCTYPE html>
<html>
<head>
    <title>Cravatt Lab Proteomics Pipeline</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <base href="/">
    <link rel="stylesheet" href="https://unpkg.com/semantic-ui@2.2.7/dist/semantic.min.css" />
    <link rel="stylesheet" type="text/css" href="/static/security.css">
</head>
<body>
{% include "security/_menu.html" %}
<div class="ui middle aligned center aligned grid">
    <div class="column">
        {% include "security/_messages.html" %}
        {% block content %}
        {% endblock %}
    </div>
</div>
<script src="https://unpkg.com/jquery@3.1.1"></script>
<script src="https://unpkg.com/lodash@4.17.4/lodash.min.js"></script>
<script src="https://unpkg.com/semantic-ui@2.2.7/dist/semantic.min.js"></script>
</body>
</html>