@charset 'UTF-8';
html, body {
    height:100%;
    margin:0;
}

.container {
    padding-top:4em;
}

#file-select {
    min-height: 100%;
    min-width: 100%;
    position: absolute;
    right: 0;
    top: 0;
    visibility: hidden;
}

.progress .label {
    text-transform:capitalize;
}

.progress .bar {
    transition-duration:300ms;
}

.diff-mod .aa {
    text-transform:uppercase;
}

.file-upload.field {
    margin-top:1em!important;
}

.advanced {
    margin-bottom:1em;
}

.close.icon {
    cursor:pointer;
}

.close.icon:hover {
    color:#DB2828;
}

.checkbox.remember-ip2 {
    padding-top:2.5em;
}

input[type='number'] {
    -moz-appearance:textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
